<h1>Species Name: <%= @animal.name %></h1>

<p><a href="/animals/<%= @animal.id %>/edit">Edit animal</a></p>
<p><a href="/animals/<%= @animal.id %>"
      data-confirm="Are you sure?"
      data-method="delete"
      rel="nofollow">Destroy animal</a></p>

<h3>Known Sightings</h3>
<!-- list sightings here -->
<!-- <form action="/animals/<%= @animal.id %>/sightings" method="post">
  <input id="animal_id" name="sighting[animal_id]" type="hidden" value="<%= @animal.id %>">
  <label for="region_name">Habitat</label>
  <input id="region_name" name="region[name]" type="text">
  <button>Add Animal Sighting</button>
</form> -->
<form action="/animals/<%= @animal.id %>/sightings" method="post">
  <select name="name">
    <% @regions.each do |region| %>
      <option value="<%= region.name %>"><%= region.name %></option>
    <% end %>
  </select>
  <button>Add Animal Sighting</button>
</form>

<p>Click to go back to the <a href="/animals">animals page</a> or go to the <a href="/regions">regions page</a></p>
